body{
    font-family: 'Fredoka One', cursive;
}

.navbar{
    background: #1e2022;
    
}
.navbar-brand{
    color: #f0f5f9;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    margin-left: 5%;
}
.navbar-brand:hover{color: #f0f5f9;}
.nav-link{
    color: #c9d6df;
}
.nav-link:hover{
    color: #f0f5f9;
}

.header-content-left{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
.header-content-left h1{
    font-size: 50px;
}
.header-content-left p{
    text-align: justify;
}

.header-content-right img{
    width: 100%;
    height: auto;
}

#bout{
    background-color: #c9d6df;
    color: black;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
    border: solid 3px;
    border-left:none;
    border-right:none;
}
.about-one img{
    
    width: 100%;
}