.encabezado{
    color: aqua;
    position: relative;
    top: 280px;
    left: 750px;
    /*text-align: center;*/
}

.sobreNosotros{
    width: 70%;
    position: relative;
    left: 250px;
    top: 340px;
    font-size: 30px;
    text-align:justify;
}
