body{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-size: 66px;font-weight: 600;line-height: 60px;}
h2{
    font-size: 48px;margin-bottom:30px ;
}
.borde{
    border:solid 1px;
}
p{
    font-size: 18px;color: #999999; list-style: 1.8 ;
    margin-bottom: 0;
}
a:hover { 
    text-decoration: none;
}
section{
    padding: 140px 0;/*120pixeles arriba y abajo y cerrado de*/
}
.fondo-color{background-color: #efefefff;}

.topmargin-xs{ margin-top: 15px;}
.topmargin-sn{margin-top: 30px;}
.topmargin-lg{margin-top: 60px;}
.btn{
    font-size: 13px;/*tamaño de letra*/
    padding:15px 20px ;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-light {
    background-color: #ffffff;
    color:black;
    border : 2px solid black;

}
.text-dark{
    color: black;
}
.navbar {
background-color:#ffffff;
box-shadow:  0 2px 4px 0 rgba(0, 0, 0, .05);/*somra*/
min-height: 75px;
}
.nav-link{
    color: black;
}
.nav-linkhover{
    color:dimgrey;
}
.logo-brand{
    min-width: 100px;
    max-width: 90px;
}
.navbar-toggler{font-size: 48px;}
.navbar-togglerfocus{outline: none;}
#hero{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;

}
#hero p{
    color: #ffffff; /*color de letra 2 */ 
}
.conter-center{
    font-size: x-large;
    max-width: 450px;
    margin: 0 auto 60px auto;
    text-align: center;
}
/*para mover la letra dentro de la imagen */ 
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin :  10 px 0 ; 
    border-radius: radius;
    padding: 5px 5px;
    
}
.portafolio-container img {
    -moz-transition : all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;

}
.portafolio-container:hover img{
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.portafolio-details h2{
    margin-bottom: 0px;
}
.portafolio-details{
    position: absolute;
    bottom: 25px;
    left: 80px;
    z-index: 9000;
    
}
.portafolio-details a h2 , .portafolio-details a p {
    color: #ffffff;
}
/*para mejorar la vista del celular*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1{ font-size:40px ; line-height:normal;}
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }